Repository StoDevX/AAO-React-Native, pull requests merged in 2018-09, with the labels that each got.

#2931 remove trackMenuFilters
  source/lib/analytics.js
Labels: component/analytics

#2936 Update Express bus hours for 2018-09-06
  data/bus-times/express.yaml
Labels: data/bus

#2932 Move a bunch of stuff around in Settings
  modules/tableview/cells/push-button.js
  source/lib/constants.js
  source/navigation/routes.js
  source/views/settings/components/logo.js
  source/views/settings/index.js
  source/views/settings/screens/change-icon.js
  source/views/settings/screens/credits.js
  source/views/settings/screens/legal.js
  source/views/settings/screens/overview/index.js
  source/views/settings/screens/overview/login-button.js
  source/views/settings/screens/overview/login-credentials.js
  source/views/settings/screens/overview/miscellany.js
  source/views/settings/screens/overview/odds-and-ends.js
  source/views/settings/screens/overview/support.js
  source/views/settings/screens/privacy.js
  source/views/settings/sections/miscellany.js
  source/views/settings/sections/odds-and-ends.js
Labels: type/refactoring, view/settings

#2941 Add Oles Go to bus schedules, remove Van-Go
  data/_schemas/bus-times.yaml
  data/bus-times/oles-go.yaml
  data/transportation/van-go.yaml
  source/views/transportation/bus/line.js
  source/views/transportation/bus/types.js
  source/views/transportation/index.js
Labels: type/bugfix, view/transportation

#2940 Hide zalgo messages in release builds
  modules/constants/index.js
  modules/constants/package.json
  source/app.js
  source/init/constants.js
  source/init/fetch.js
  source/lib/constants.js
  source/lib/user-agent.js
  source/views/home/notice.js
  source/views/settings/screens/overview/odds-and-ends.js
  source/views/settings/screens/overview/support.js
Labels: type/refactoring

#2943 Add new module: <Timer/>
  modules/timer/index.js
  modules/timer/package.json
  source/views/building-hours/detail/index.js
  source/views/building-hours/stateful-list.js
  source/views/stoprint/components/error.js
  source/views/stoprint/components/notice.js
  source/views/transportation/bus/map.js
  source/views/transportation/bus/wrapper.js
Labels: type/refactoring

#2951 Update Stav and Cage hours for the AY
  data/building-hours/1-1-cage.yaml
  data/building-hours/1-3-stav.yaml
  data/building-hours/1-4-bag-lunch-line.yaml
Labels: data/hours

#2950 [stoPrint]: Change release time to time remaining
  modules/constants/index.js
  source/views/stoprint/lib.js
  source/views/stoprint/print-jobs.js
Labels: type/enhancement, view/stoPrint

#2952 [course Search]: Add Course Notes to List Row
  source/views/sis/course-search/row.js
Labels: type/enhancement, view/sis

#2953 Make gradients vertical again
  source/views/home/button.js
Labels: type/bugfix

#2958 Update Ruby dependencies
  .circleci/config.yml
  Gemfile.lock
Labels: tool/fastlane

#2959 Tweak filter buttons to be closable on entire button
  modules/filter/active-filter-button.js
Labels: component/filter

#2962 Release v2.6.0, beta 9
  package.json
Labels: type/release

#2965 Add course notes to course detail view
  source/views/sis/course-search/detail/index.js
Labels: view/sis

#2966 Course row view cleanup
  source/views/sis/course-search/row.js
Labels: view/sis

#2979 Move google repo to top of the list on Android
  android/build.gradle
Labels: pr/ready for review

#2981 Update Post Office hours per user submission
  data/building-hours/3-1-post-office.yaml
Labels: data/hours

#2984 Circle: Extract HOMEBREW_NO_AUTO_UPDATE to iOS Job environment
  .circleci/config.yml
Labels: tool/circle, type/refactoring

#2983 Circle: Extract Docker image selectors using anchors (and update Ruby Docker image to 2.5.1)
  .circleci/config.yml
Labels: tool/circle, type/refactoring

#2985 Headers for transportation routes
  data/bus-times/blue-line.yaml
  data/bus-times/express.yaml
  data/bus-times/red-line.yaml
  source/views/transportation/bus/line.js
Labels: view/transportation

#2990 Fix get-urls@8 crash
  package.json
  source/app.js
  source/init/global--buffer.js
  source/init/monkey-patch--url.js
  yarn.lock
Labels: bug/general

#2997 Make danger fail
  .circleci/config.yml
  package.json
  source/views/news/index.js
Labels: tool/circle, tool/danger, tool/eslint, tool/prettier

#2998 Update Skoglund + Skoglund Pool hours per user submission
  data/building-hours/6-1-skoglund.yaml
  data/building-hours/6-2-skoglund-pool.yaml
Labels: data/hours

#3000 Remove unused break schedules
  data/building-hours/1-1-cage.yaml
  data/building-hours/1-2-pause-kitchen.yaml
  data/building-hours/1-4-bag-lunch-line.yaml
  data/building-hours/10-admissions.yaml
  data/building-hours/10-business-office.yaml
  data/building-hours/10-cmie.yaml
  data/building-hours/10-conferences-camps-events.yaml
  data/building-hours/10-financial-aid.yaml
  data/building-hours/10-osa.yaml
  data/building-hours/10-pastor-office.yaml
  data/building-hours/10-piper-center.yaml
  data/building-hours/10-registrar.yaml
  data/building-hours/2-1-bookstore.yaml
  data/building-hours/2-2-convenience-store.yaml
  data/building-hours/3-1-post-office.yaml
  data/building-hours/3-2-print-center.yaml
  data/building-hours/4-1-disco.yaml
  data/building-hours/4-2-halvorson-music-library.yaml
  data/building-hours/4-3-rølvaag-library.yaml
  data/building-hours/4-4-rølvaag-reference-desk.yaml
  data/building-hours/5-1-it-helpdesk.yaml
  data/building-hours/5-2-asc.yaml
  data/building-hours/5-3-asc-speaking-space.yaml
  data/building-hours/5-4-asc-writing-desk.yaml
  data/building-hours/6-1-skoglund.yaml
  data/building-hours/6-2-skoglund-pool.yaml
  data/building-hours/6-3-storp.yaml
  data/building-hours/6-4-tom-porter.yaml
  data/building-hours/6-5-tostrud-climbing-wall.yaml
  data/building-hours/7-1-wellness-center.yaml
  data/building-hours/7-2-health-services.yaml
  data/building-hours/7-3-sarn.yaml
  data/building-hours/7-4-gender-sexuality-center.yaml
  data/building-hours/8-alh.yaml
  data/building-hours/8-bc.yaml
  data/building-hours/8-boe.yaml
  data/building-hours/8-cad.yaml
  data/building-hours/8-chm.yaml
  data/building-hours/8-hh.yaml
  data/building-hours/8-hom.yaml
  data/building-hours/8-omh.yaml
  data/building-hours/8-rms.yaml
  data/building-hours/8-rns.yaml
  data/building-hours/8-skifter.yaml
  data/building-hours/8-tb.yaml
  data/building-hours/8-toh.yaml
  data/building-hours/8-wlc.yaml
Labels: data/hours

#2999 Update Rølvaag hours
  data/building-hours/4-3-rølvaag-library.yaml
  data/building-hours/4-4-rølvaag-reference-desk.yaml
Labels: data/hours

#3004 Add IPHONEOS_DEPLOYMENT_TARGET = 10.0; to the push extension
  ios/AllAboutOlaf.xcodeproj/project.pbxproj
Labels: platform/ios

#3003 Allow testflight uploading to fail the build
  fastlane/platforms/ios.rb
Labels: tool/circle, tool/fastlane

#3005 BadgeDetail component
  source/components/outline-badge.js
  source/components/solid-badge.js
  source/views/building-hours/detail/building.js
  source/views/building-hours/row.js
  source/views/sis/course-search/detail/index.js
Labels: view/hours, view/sis

#3006 Change navigation icons back
  source/components/nav-buttons/favorite.js
  source/components/nav-buttons/share.js
Labels: view/hours, view/sis

#3011 Remove course times from course search rows
  source/views/sis/course-search/row.js
Labels: status/discussion, view/sis

#3016 Student work field updates
  source/views/sis/student-work/detail.android.js
  source/views/sis/student-work/detail.ios.js
  source/views/sis/student-work/types.js
Labels: pr/ready for review, view/sis

#3020 Move Event url extraction to ccc-server
  flow-typed/npm/get-urls_v7.x.x.js
  package.json
  source/app.js
  source/init/global--buffer.js
  source/init/monkey-patch--url.js
  source/views/calendar/calendar-util.js
  source/views/calendar/event-detail.android.js
  source/views/calendar/event-detail.ios.js
  source/views/calendar/types.js
  yarn.lock
Labels: view/calendar

#3021 Fix missing bar between username and password fields in login screen
  source/views/settings/screens/overview/login-credentials.js
Labels: view/settings

#3022 Dedupe yarn lockfile
  modules/button/package.json
  modules/datepicker/package.json
  modules/filter/package.json
  modules/food-menu/package.json
  modules/html-content/package.json
  modules/info-header/package.json
  modules/layout/package.json
  modules/lists/package.json
  modules/listview/package.json
  modules/markdown/package.json
  modules/navigation-tabs/package.json
  modules/notice/package.json
  modules/searchbar/package.json
  modules/separator/package.json
  modules/tableview/package.json
  modules/timer/package.json
  modules/toolbar/package.json
  modules/touchable/package.json
  modules/viewport/package.json
  package.json
  yarn.lock
Labels: dep/js

#3023 use SelectableCell in Calendar
  source/views/calendar/event-detail.ios.js
Labels: platform/ios, view/calendar

#3024 Remove right navigation button's margin
  source/components/nav-buttons/styles.js
Labels: bug/layout

#3025 Rename calendar back button to "Back" to fix overlapping titles
  source/views/calendar/index.js
Labels: bug/layout

#3026 Release v2.6.0
  package.json
Labels: type/release

#3030 Remove pull-to-refresh from bus view
  source/views/transportation/bus/line.js
  source/views/transportation/bus/wrapper.js
Labels: view/transportation

#3032 Fix bus schedules not doing live updates
  source/views/transportation/bus/line.js
Labels: view/transportation

#3031 Remove dead code from webcams view
  source/views/streaming/webcams/list.js
Labels: view/streaming

#3033 Release v2.6.1
  package.json
Labels: type/release

#3035 [modules] frogpond/navigation-buttons
  modules/navigation-buttons/close-screen.js
  modules/navigation-buttons/edit-home.js
  modules/navigation-buttons/favorite.js
  modules/navigation-buttons/index.js
  modules/navigation-buttons/open-settings.js
  modules/navigation-buttons/package.json
  modules/navigation-buttons/share.js
  modules/navigation-buttons/styles.js
  source/components/nav-buttons/favorite.js
  source/views/building-hours/detail/toolbar-button.js
  source/views/calendar/event-detail.android.js
  source/views/calendar/event-detail.ios.js
  source/views/home/home.js
  source/views/sis/student-work/detail.android.js
  source/views/sis/student-work/detail.ios.js
Labels: type/refactoring

#3038 [module] frogpnd/silly-card
  modules/silly-card/index.js
  modules/silly-card/package.json
  source/views/building-hours/detail/schedule-table.android.js
  source/views/calendar/event-detail.android.js
  source/views/help/tool.js
  source/views/help/wifi.js
  source/views/sis/student-work/detail.android.js
  source/views/student-orgs/detail.android.js
Labels: type/refactoring

#3039 Remove links section from ios calendar detail
  source/views/calendar/event-detail.ios.js
Labels: platform/ios, view/calendar

#3034 Patch safeareaview in react-native-popover-view
  package.json
Labels: bug/layout, platform/ios

#3050 Remove calendar faq
  data/faqs.md
Labels: data/general

#3047 Include development bonapp menu picker
  source/views/menus/dev-bonapp-picker.js
  source/views/menus/index.js
  source/views/menus/menu-bonapp.js
Labels: view/menus

#3057 Revert back to a single prepare command
  package.json
Labels: component/filter, pr/ready for review

#3063 Replace isReleaseBuild with isDevMode
  modules/constants/index.js
  source/views/home/notice.js
  source/views/menus/index.js
Labels: type/refactoring

#3065 Reset hours back to normal
  data/building-hours/1-2-pause-kitchen.yaml
  data/building-hours/10-admissions.yaml
  data/building-hours/10-business-office.yaml
  data/building-hours/10-cmie.yaml
  data/building-hours/10-conferences-camps-events.yaml
  data/building-hours/10-financial-aid.yaml
  data/building-hours/10-osa.yaml
  data/building-hours/10-pastor-office.yaml
  data/building-hours/10-piper-center.yaml
  data/building-hours/10-registrar.yaml
  data/building-hours/3-2-print-center.yaml
  data/building-hours/4-1-disco.yaml
  data/building-hours/4-2-halvorson-music-library.yaml
  data/building-hours/5-1-it-helpdesk.yaml
  data/building-hours/5-2-asc.yaml
  data/building-hours/5-3-asc-speaking-space.yaml
  data/building-hours/5-4-asc-writing-desk.yaml
  data/building-hours/6-5-tostrud-climbing-wall.yaml
  data/building-hours/7-1-wellness-center.yaml
  data/building-hours/7-2-health-services.yaml
  data/building-hours/7-3-sarn.yaml
  data/building-hours/7-4-gender-sexuality-center.yaml
  data/building-hours/8-tb.yaml
  data/building-hours/8-wlc.yaml
  data/building-hours/9-flaten-art-museum.yaml
Labels: data/hours

#3068 Call dev mode constant in settings as a function
  source/views/settings/screens/overview/odds-and-ends.js
Labels: view/settings

#3066 Release v2.6.2
  package.json
Labels: type/release

#3070 Release v2.6.3
  package.json
Labels: type/release

#3071 Start a changelog
  .gitattributes
  CHANGELOG.md
Labels: docs

#3091 CircleCI: Sleep for up to 600 seconds at start of nightly
  .circleci/config.yml
Labels: tool/circle
