Repository StoDevX/AAO-React-Native, pull requests merged in 2018-07, with the labels that each got.

#2523 Course Search: fix search bug
  source/views/sis/course-search/search.js
Labels: pr/ready for review, type/bugfix, view/sis

#2686 Note about event locations on faqs
  data/faqs.md
Labels: data/general

#2694 add travis conditions v1 regex syntax
  .travis.yml
Labels: tool/travis

#2696 Circle: Update xcode version to 9.4.1
  .circleci/config.yml
Labels: tool/circle

#2695 Update eslint to the latest version (5.0.1) 🚀
  package.json
  yarn.lock
Labels: greenkeeper

#2699 Update danger to the latest version (3.8.0) 🚀
  package.json
  yarn.lock
Labels: greenkeeper

#2700 Update the Bundle/Upgrade to RuboCop 0.58.1
  .rubocop.yml
  Gemfile
  Gemfile.lock
Labels: tool/fastlane
