Repository StoDevX/AAO-React-Native, pull requests merged in 2018-11, with the labels that each got.

#3158 Upgrade redux to version 4.0.1
  package.json
  yarn.lock
Labels: dep/js

#3108 Privacy Policy updates
  data/privacy.md
Labels: data/general, pr/ready for review

#3167 Disable navigation persistence
  source/navigation/constants.js
Labels: type/bugfix

#3172 Update fastlane to version 2.108.0
  Gemfile.lock
Labels: tool/fastlane

#3166 Remove login credentials from redux
  .eslintrc.yaml
  .flowconfig
  modules/timer/index.js
  source/lib/cache.js
  source/lib/financials/balances.js
  source/lib/login.js
  source/lib/stoprint/api.js
  source/redux/index.js
  source/redux/init.js
  source/redux/parts/app.js
  source/redux/parts/balances.js
  source/redux/parts/help.js
  source/redux/parts/settings.js
  source/views/settings/screens/overview/login-credentials.js
  source/views/sis/balances.js
  source/views/sis/course-search/results.js
  source/views/sis/course-search/search.js
  source/views/stoprint/print-jobs.js
  source/views/stoprint/print-release.js
  source/views/stoprint/printers.js
Labels: pr/ready for review, type/bugfix

#3174 travis: Use xenial dist
  .travis.yml
Labels: tool/travis

#3176 Update Pause Kitchen hours by user suggestion
  data/building-hours/1-2-pause-kitchen.yaml
Labels: data/hours

#3156 Change SARN website back to pages
  data/contact-info/2-1-sarn.yaml
Labels: data/general, pr/don't merge, status/on hold

#3178 danger: Add a rule to check whether or not the CHANGELOG was updated
  CHANGELOG.md
  dangerfile.js
Labels: pr/ready for review, tool/danger

#3179 Fastlane Refactoring!
  .rubocop.yml
  Brewfile
  CHANGELOG.md
  fastlane/actions/onesignal.rb
  fastlane/actions/set_gradle_version_code.rb
  fastlane/actions/set_gradle_version_name.rb
  fastlane/lib/commands.rb
  fastlane/lib/git.rb
  fastlane/lib/sourcemaps.rb
  fastlane/lib/util.rb
  fastlane/lib/versions.rb
  fastlane/platforms/android.rb
  fastlane/platforms/ios.rb
Labels: status/on hold, tool/fastlane, type/refactoring

#3184 [RN Upgrade] iOS: Remove ReactCommon from HEADER_SEARCH_PATHS in buildSettings
  ios/AllAboutOlaf.xcodeproj/project.pbxproj
Labels: platform/ios

#3185 [RN Upgrade] iOS: Remove most HEADER_SEARCH_PATHS
  ios/AllAboutOlaf.xcodeproj/project.pbxproj
Labels: platform/ios

#3189 Update express bus schedule
  data/bus-times/express.yaml
Labels: data/bus

#3200 renovate: Use America/Chicago timezone
  .renovaterc.json
Labels: tool/renovate

#3188 circle: Suppress Detox build stdout
  .circleci/config.yml
  CHANGELOG.md
Labels: tool/circle, tool/detox

#3201 Remove renovate schedule until we're caught up
  .renovaterc.json
Labels: tool/renovate

#3182 Add "open webpage" row to student work detail
  CHANGELOG.md
  source/views/sis/student-work/detail.android.js
  source/views/sis/student-work/detail.ios.js
  source/views/sis/student-work/lib.js
Labels: view/sis

#3203 Add [tool/renovate] label to renovate PRs
  .renovaterc.json
Labels: renovate, tool/renovate

#3210 schedule lockfile maintenance for >5pm on weekdays
  .renovaterc.json
Labels: tool/renovate

#3209 Automatically skip native builds if not needed
  .circleci/config.yml
  CHANGELOG.md
  fastlane/lib/commands.rb
  fastlane/lib/util.rb
Labels: platform/android, platform/ios, tool/fastlane

#3215 fastlane#auto_beta: Explicitly write 0 build-status when skipping
  CHANGELOG.md
  fastlane/lib/commands.rb
Labels: tool/fastlane

#3223 Print the danger changelog message inline
  dangerfile.js
Labels: tool/danger

#3249 danger: Fix double negative in changelogSync exclusion
  dangerfile.js
Labels: tool/danger

#3252 Skip native builds - part 2
  .circleci/config.yml
  fastlane/lib/commands.rb
  fastlane/lib/util.rb
  scripts/should-build.rb
Labels: platform/android, platform/ios, tool/circle

#3255 "git merge-base"-based native build skipping
  .circleci/config.yml
  CHANGELOG.md
  scripts/should-skip-build
Labels: tool/circle

#3254 Clean up Dangerfile
  dangerfile.js
  package.json
  yarn.lock
Labels: tool/danger
