Repository StoDevX/AAO-React-Native, pull requests merged in 2018-02, with the labels that each got.

#2293 Add basic course search
  android/app/src/main/java/com/allaboutolaf/MainActivity.java
  package.json
  source/flux/parts/sis.js
  source/lib/course-search/index.js
  source/lib/course-search/load-cached-courses.js
  source/lib/course-search/parse-term.js
  source/lib/course-search/types.js
  source/lib/course-search/update-course-storage.js
  source/lib/course-search/urls.js
  source/lib/storage.js
  source/navigation.js
  source/views/components/__tests__/__snapshots__/button.test.js.snap
  source/views/components/__tests__/__snapshots__/notice.test.js.snap
  source/views/components/cells/index.js
  source/views/components/cells/multi-line-detail.js
  source/views/components/cells/multi-line-left-detail.js
  source/views/components/colors.js
  source/views/components/notice.js
  source/views/components/searchbar/index.android.js
  source/views/components/searchbar/index.ios.js
  source/views/sis/course-search/detail/index.js
  source/views/sis/course-search/index.js
  source/views/sis/course-search/lib/format-day.js
  source/views/sis/course-search/lib/format-dept-num.js
  source/views/sis/course-search/list.js
  source/views/sis/course-search/row.js
  source/views/sis/course-search/search.js
  source/views/sis/index.js
  yarn.lock
Labels: pr/ready for review, status/in-progress, view/sis

#2363 Remove fastlane metadata
  fastlane/metadata/android/en-US/changelogs/2.txt
  fastlane/metadata/android/en-US/changelogs/3.txt
  fastlane/metadata/android/en-US/changelogs/4.txt
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/images/icon.png
  fastlane/metadata/android/en-US/short_description.txt
  fastlane/metadata/android/en-US/title.txt
  fastlane/metadata/android/en-US/video.txt
  fastlane/metadata/app_icon.jpg
  fastlane/metadata/copyright.txt
  fastlane/metadata/en-US/description.txt
  fastlane/metadata/en-US/keywords.txt
  fastlane/metadata/en-US/marketing_url.txt
  fastlane/metadata/en-US/name.txt
  fastlane/metadata/en-US/privacy_url.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/primary_category.txt
  fastlane/metadata/primary_first_sub_category.txt
  fastlane/metadata/primary_second_sub_category.txt
  fastlane/metadata/review_information/demo_password.txt
  fastlane/metadata/review_information/demo_user.txt
  fastlane/metadata/review_information/email_address.txt
  fastlane/metadata/review_information/first_name.txt
  fastlane/metadata/review_information/last_name.txt
  fastlane/metadata/review_information/notes.txt
  fastlane/metadata/review_information/phone_number.txt
  fastlane/metadata/secondary_category.txt
  fastlane/metadata/secondary_first_sub_category.txt
  fastlane/metadata/secondary_second_sub_category.txt
  fastlane/metadata/trade_representative_contact_information/address_line1.txt
  fastlane/metadata/trade_representative_contact_information/city_name.txt
  fastlane/metadata/trade_representative_contact_information/country.txt
  fastlane/metadata/trade_representative_contact_information/email_address.txt
  fastlane/metadata/trade_representative_contact_information/first_name.txt
  fastlane/metadata/trade_representative_contact_information/is_displayed_on_app_store.txt
  fastlane/metadata/trade_representative_contact_information/last_name.txt
  fastlane/metadata/trade_representative_contact_information/phone_number.txt
  fastlane/metadata/trade_representative_contact_information/postal_code.txt
  fastlane/metadata/trade_representative_contact_information/state.txt
  fastlane/metadata/trade_representative_contact_information/trade_name.txt
Labels: data/general, pr/ready for review

#2365 Update credits
  data/credits.yaml
Labels: data/general, pr/ready for review

#2383 Course search enhancements
  package.json
  source/views/sis/course-search/search.js
  yarn.lock
Labels: pr/ready for review, type/enhancement

#2387 Add late night schedule back to cage hours
  data/building-hours/1-1-cage.yaml
Labels: data/hours
