Repository StoDevX/AAO-React-Native, pull requests merged in 2018-03, with the labels that each got.

#2394 Improvements to open jobs detail cells
  source/views/sis/student-work/detail.ios.js
  source/views/sis/student-work/selectable.js
Labels: pr/ready for review, view/sis

#2378 [WIP] Add filters to course search
  package.json
  source/flux/index.js
  source/flux/parts/course-search.js
  source/flux/parts/sis.js
  source/lib/course-search/index.js
  source/lib/course-search/load-filter-options.js
  source/lib/course-search/urls.js
  source/lib/storage.js
  source/views/components/filter/__tests__/apply-filter.test.js
  source/views/components/filter/apply-filters.js
  source/views/components/filter/index.js
  source/views/components/filter/section-list.js
  source/views/components/filter/tools.js
  source/views/components/filter/types.js
  source/views/menus/lib/build-filters.js
  source/views/sis/components/filter-toolbar.js
  source/views/sis/course-search/lib/build-filters.js
  source/views/sis/course-search/lib/format-terms.js
  source/views/sis/course-search/list.js
  source/views/sis/course-search/search.js
  yarn.lock
Labels: type/enhancement

#2405 Enable IT Helpdesk tools
  data/help/1-it-helpdesk.yaml
Labels: pr/ready for review, view/help

#2408 Fix course search toolbar to display 'All Terms' when appropriate
  source/views/sis/components/filter-toolbar.js
Labels: type/bugfix, view/sis

#2364 Add margin back to help cards
  source/views/help/tool.js
Labels: pr/ready for review, status/discussion, view/help

#2417 Avoid ever logging redux course cache
  source/flux/index.js
  source/flux/init.js
  source/flux/parts/balances.js
  source/flux/parts/course-search.js
  source/flux/parts/courses.js
  source/flux/parts/settings.js
  source/views/sis/balances.js
  source/views/sis/course-search/list.js
  source/views/sis/course-search/search.js
Labels: pr/ready for review

#2419 We're unofficial (so let's tell the world so)
  source/views/home/home.js
  source/views/home/notice.js
Labels: status/discussion

#2427 Add recent searches feature to course search
  package.json
  source/flux/init.js
  source/flux/parts/courses.js
  source/lib/storage.js
  source/views/components/searchbar/index.ios.js
  source/views/sis/components/recent-search/list.js
  source/views/sis/course-search/search.js
  yarn.lock
Labels: pr/ready for review, type/enhancement, view/sis

#2429 Remove react-native-maps (and replace with Mapbox)
  android/app/build.gradle
  android/app/src/main/java/com/allaboutolaf/MainApplication.java
  android/settings.gradle
  flow-typed/npm/react-native-maps_vx.x.x.js
  ios/AllAboutOlaf.xcodeproj/project.pbxproj
  package.json
  source/views/transportation/bus/map.js
  yarn.lock
Labels: view/map

#2444 Greenkeeper/react navigation 1.5.7
  package.json
  yarn.lock
Labels: pr/ready for review

#2454 Building Hours update for Rølvaag Library
  data/building-hours/4-3-rølvaag-library.yaml
Labels: data/hours

#2456 Limit recent course searches to one line
  source/views/sis/components/recent-search/list.js
Labels: pr/ready for review, type/enhancement, view/sis

#2476 Spring break notice
  data/building-hours/0-0-break.yaml
Labels: data/hours, pr/ready for review

#2437 Remove componentWill* methods
  .eslintrc.yaml
  source/app.js
  source/views/building-hours/detail/index.js
  source/views/building-hours/row.js
  source/views/building-hours/stateful-list.js
  source/views/calendar/calendar-google.js
  source/views/components/datepicker/datepicker.ios.js
  source/views/components/datepicker/index.js
  source/views/components/logo.js
  source/views/components/viewport.js
  source/views/contacts/list.js
  source/views/dictionary/list.js
  source/views/faqs/index.js
  source/views/help/index.js
  source/views/home/edit/list.ios.js
  source/views/home/edit/row.ios.js
  source/views/menus/components/fancy-menu.js
  source/views/menus/dev-bonapp-picker.js
  source/views/menus/menu-bonapp.js
  source/views/menus/menu-github.js
  source/views/news/news-container.js
  source/views/settings/icon.js
  source/views/settings/sections/odds-and-ends.js
  source/views/sis/balances.js
  source/views/sis/course-search/list.js
  source/views/sis/course-search/search.js
  source/views/sis/student-work/index.js
  source/views/streaming/radio/player.js
  source/views/streaming/streams/list.js
  source/views/streaming/webcams/list.js
  source/views/student-orgs/list.js
  source/views/transportation/bus/line.js
  source/views/transportation/bus/map.js
  source/views/transportation/bus/wrapper.js
  source/views/transportation/other-modes/list.js
Labels: pr/ready for review
