Repository StoDevX/AAO-React-Native, pull requests merged in 2018-06, with the labels that each got.

#2627 Update Fastlane to 2.97.0
  Gemfile.lock
Labels: tool/fastlane

#2648 Change Course Search View wrapper to ScrollView
  source/views/sis/course-search/search.js
Labels: type/enhancement, view/sis

#2657 Summer Hours! 🌞
  data/building-hours/1-1-cage.yaml
  data/building-hours/1-2-pause-kitchen.yaml
  data/building-hours/1-3-stav.yaml
  data/building-hours/1-4-bag-lunch-line.yaml
  data/building-hours/10-admissions.yaml
  data/building-hours/10-business-office.yaml
  data/building-hours/10-cmie.yaml
  data/building-hours/10-conferences-camps-events.yaml
  data/building-hours/10-financial-aid.yaml
  data/building-hours/10-osa.yaml
  data/building-hours/10-parking.yaml
  data/building-hours/10-pastor-office.yaml
  data/building-hours/10-piper-center.yaml
  data/building-hours/10-registrar.yaml
  data/building-hours/2-1-bookstore.yaml
  data/building-hours/2-2-convenience-store.yaml
  data/building-hours/3-1-post-office.yaml
  data/building-hours/3-2-print-center.yaml
  data/building-hours/4-1-disco.yaml
  data/building-hours/4-2-halvorson-music-library.yaml
  data/building-hours/4-3-rølvaag-library.yaml
  data/building-hours/4-4-rølvaag-reference-desk.yaml
  data/building-hours/5-1-it-helpdesk.yaml
  data/building-hours/5-2-asc.yaml
  data/building-hours/5-3-asc-speaking-space.yaml
  data/building-hours/5-4-asc-writing-desk.yaml
  data/building-hours/6-1-skoglund.yaml
  data/building-hours/6-2-skoglund-pool.yaml
  data/building-hours/6-3-storp.yaml
  data/building-hours/6-4-tom-porter.yaml
  data/building-hours/6-5-tostrud-climbing-wall.yaml
  data/building-hours/7-1-wellness-center.yaml
  data/building-hours/7-2-health-center.yaml
  data/building-hours/7-2-health-services.yaml
  data/building-hours/7-3-sarn.yaml
  data/building-hours/7-4-gender-sexuality-center.yaml
  data/building-hours/8-alh.yaml
  data/building-hours/8-bc.yaml
  data/building-hours/8-boe.yaml
  data/building-hours/8-cad.yaml
  data/building-hours/8-chm.yaml
  data/building-hours/8-hh.yaml
  data/building-hours/8-hom.yaml
  data/building-hours/8-omh.yaml
  data/building-hours/8-rms.yaml
  data/building-hours/8-rns.yaml
  data/building-hours/8-skifter.yaml
  data/building-hours/8-tb.yaml
  data/building-hours/8-toh.yaml
  data/building-hours/8-wlc.yaml
  data/building-hours/9-flaten-art-museum.yaml
  data/pause-menu.yaml
Labels: data/hours
