Repository StoDevX/AAO-React-Native, pull requests merged in 2018-10, with the labels that each got.

#3099 Update WLC hours for Fall 2018
  data/building-hours/8-wlc.yaml
Labels: data/hours

#3100 Update RNS/RMS hours for Fall 2018
  data/building-hours/8-rms.yaml
  data/building-hours/8-rns.yaml
Labels: data/hours

#3116 Update react-native-paper to version 2.1.3
  package.json
  yarn.lock
Labels: greenkeeper

#3122 Update eslint-plugin-flowtype to version 3.0.0
  package.json
  yarn.lock
Labels: greenkeeper

#3123 Update react-native-device-info to version 0.24.0
  package.json
  yarn.lock
Labels: greenkeeper

#3129 Update fastlane to version 2.106.2
  Gemfile.lock
Labels: tool/fastlane

#3132 Remove references to Greenkeeper
  .travis.yml
  CONTRIBUTING.md
  dangerfile.js
  package.json
Labels: greenkeeper, tool/travis

#3133 remove sudo:false from travis config
  .travis.yml
Labels: tool/travis

#3127 Update Danger to version 4.4.8
  .circleci/config.yml
  dangerfile.js
  package.json
  yarn.lock
Labels: greenkeeper

#3137 Upgrade danger to version 6.0.0
  package.json
  yarn.lock
Labels: tool/danger

#3138 Use _our_ build tools versions when compiling dependencies
  android/build.gradle
Labels: platform/android, tool/gradle

#3146 Use the US/Central timezone, and centralize logic for it
  CHANGELOG.md
  modules/ccc-calendar/index.js
  modules/constants/index.js
  modules/food-menu/lib/find-menu.js
  source/init/constants.js
  source/views/building-hours/detail/index.js
  source/views/building-hours/lib/__tests__/moment.helper.js
  source/views/building-hours/lib/constants.js
  source/views/building-hours/lib/index.js
  source/views/building-hours/lib/parse-hours.js
  source/views/building-hours/stateful-list.js
  source/views/menus/lib/__tests__/find-menu.test.js
  source/views/menus/menu-bonapp.js
  source/views/menus/menu-github.js
  source/views/sis/course-search/detail/index.js
  source/views/stoprint/lib.js
  source/views/stoprint/print-jobs.js
  source/views/streaming/streams/list.js
  source/views/transportation/bus/lib/__tests__/moment.helper.js
  source/views/transportation/bus/lib/parse-time.js
  source/views/transportation/bus/map.js
  source/views/transportation/bus/wrapper.js
Labels: type/refactoring

#3147 Remove the check command
  package.json
Labels: docs

#3149 Remove the GSC hours
  data/building-hours/7-4-gender-sexuality-center.yaml
Labels: data/hours

#3151 circle: Move nightly back two hours
  .circleci/config.yml
Labels: tool/circle

#3155 Update Holland Hall hours
  data/building-hours/8-hh.yaml
Labels: data/hours

#3154 Update HOM building hours
  data/building-hours/8-hom.yaml
Labels: data/hours
