Repository StoDevX/AAO-React-Native, pull requests merged in 2018-04, with the labels that each got.

#2485 Build the nightly at 04:00 rather than 00:00 (Zulu time)
  .circleci/config.yml
Labels: tool/circle

#2459 Add Browse functionality to Course Search
  source/flux/init.js
  source/flux/parts/courses.js
  source/lib/storage.js
  source/views/components/filter/filter-view.js
  source/views/components/filter/index.js
  source/views/components/filter/section-list.js
  source/views/components/markdown/heading.js
  source/views/components/notice.js
  source/views/sis/components/recent-search/list.js
  source/views/sis/course-search/lib/format-filter-combo.js
  source/views/sis/course-search/list.js
  source/views/sis/course-search/search.js
Labels: pr/ready for review, type/enhancement, view/sis

#2487 Replace fuzzysearch with keywordSearch
  package.json
  source/views/sis/course-search/search.js
  yarn.lock
Labels: pr/ready for review, type/enhancement, view/sis

#2495 enforce usage of "===" operator in JS
  .eslintrc.yaml
  source/user-agent.js
  source/views/calendar/clean-event.js
  source/views/components/filter/apply-filters.js
  source/views/sis/course-search/search.js
  source/views/sis/student-work/detail.android.js
  source/views/sis/student-work/job-row.js
  source/views/streaming/streams/list.js
  source/views/streaming/streams/row.js
Labels: tool/eslint

#2499 Remove spring break notice
  data/building-hours/0-0-break.yaml
Labels: data/hours

#2486 Navigation button cleanup
  source/views/components/nav-buttons/open-settings.js
  source/views/components/nav-buttons/styles.js
Labels: pr/ready for review, type/enhancement

#2493 Course Search: Sort courses by DeptNum
  source/views/sis/course-search/search.js
Labels: pr/ready for review, type/enhancement, view/sis

#2513 Update react-native-tableview-simple to the latest version 🚀
  package.json
  source/views/components/cells/__tests__/__snapshots__/toggle.test.js.snap
  yarn.lock
Labels: greenkeeper

#2514 Move selectable cell into cell components
  source/views/components/cells/selectable.js
  source/views/sis/student-work/detail.ios.js
  source/views/student-orgs/detail.ios.js
Labels: pr/ready for review

#2546 Remove ksto application query scheme
  ios/AllAboutOlaf/Info.plist
Labels: platform/ios

#2547 Remove insecure http load exception for oleville
  ios/AllAboutOlaf/Info.plist
Labels: platform/ios

#2554 Remove attachEvent from radio player
  source/views/streaming/radio/player.js
Labels: pr/ready for review, view/streaming

#2557 Add NSLocationAlwaysUsageDescription to Info.plist
  ios/AllAboutOlaf/Info.plist
Labels: platform/ios

#2560 Report dictionary issue
  package.json
  source/navigation.js
  source/views/components/cells/textfield.js
  source/views/dictionary/detail.js
  source/views/dictionary/index.js
  source/views/dictionary/report/__tests__/__snapshots__/stringify-entry.test.js.snap
  source/views/dictionary/report/__tests__/stringify-entry.test.js
  source/views/dictionary/report/editor.js
  source/views/dictionary/report/index.js
  source/views/dictionary/report/submit.js
  yarn.lock
Labels: pr/ready for review, view/dictionary

#2561 Make oleville news urls use https
  source/views/news/index.js
Labels: pr/ready for review, view/news
