Repository StoDevX/AAO-React-Native, pull requests merged in 2019-11, with the labels that each got.

#4158 Holland hall dictionary update
  data/dictionary/holland.yaml
Labels: data/dictionary

#4162 codecov: No longer produce commit statuses
  .codecov.yml
Labels: tool/codecov

#4164 iOS: Upgrade to Xcode 11.1
  .github/workflows/analyze-and-build.yml
  package.json
Labels: platform/ios
