Repository StoDevX/AAO-React-Native, pull requests merged in 2019-10, with the labels that each got.

#4070 Release v2.8.0, beta 7
  package.json
Labels: type/release

#4071 actions: Raise the ulimit to accommodate an ENOSPC error
  .github/workflows/analyze-and-build.yml
Labels: platform/android, tool/github-actions, type/bugfix

#4077 hours: Update Pause Kitchen Hours
  data/building-hours/1-2-pause-kitchen.yaml
Labels: data/hours

#4085 Update Buntrock Commons hours per user suggestion
  data/building-hours/8-bc.yaml
Labels: data/hours

#4091 Remove Radio FAQ
  data/faqs.md
Labels: data/general

#4097 Migrate Nightly Builds to GitHub Actions
  .circleci/config.yml
  .github/workflows/analyze-and-build.yml
  fastlane/lib/util.rb
Labels: tool/circle, tool/github-actions, type/refactoring

#4093 Convert FAQ view to use hooks
  CHANGELOG.md
  source/views/faqs/index.js
Labels: view/settings

#4147 Fix up sentry-cli invocation
  .github/workflows/analyze-and-build.yml
  android/sentry.properties
  ios/sentry.properties
Labels: sentry, type/bugfix
