Repository StoDevX/AAO-React-Native, pull requests merged in 2019-09, with the labels that each got.

#3959 Update contributor documentation
  CONTRIBUTING.md
  README.md
Labels: type/documentation

#3975 hours: Remove summer notice
  data/building-hours/0-1-summer.yaml
Labels: data/hours

#3976 Remove reportNetworkProblem calls and definition
  modules/add-to-device-calendar/package.json
  modules/analytics/index.js
  modules/analytics/package.json
  modules/analytics/report-network-problem.js
  modules/ccc-calendar/package.json
  modules/event-list/package.json
  modules/open-url/package.json
  source/views/help/wifi.js
  source/views/menus/menu-bonapp.js
Labels: area/network, sentry

#3985 Upgrade to React Native v0.60.4
  .flowconfig
  .yarnrc
  android/app/.gitignore
  android/app/build.gradle
  android/app/debug.keystore
  android/app/proguard-rules.pro
  android/app/src/main/java/com/allaboutolaf/MainApplication.java
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/dependency-locks/buildscript-classpath.lockfile
  android/gradle/wrapper/gradle-wrapper.properties
  android/keystores/BUCK
  android/keystores/debug.keystore.properties
  android/settings.gradle
  contrib/0001-mapbox-android-fix-build.patch
  contrib/0002-rn-android-fix-issue-25325.patch
  ios/AllAboutOlaf.xcodeproj/project.pbxproj
  modules/add-to-device-calendar/package.json
  modules/badge/package.json
  modules/button/package.json
  modules/constants/package.json
  modules/datepicker/package.json
  modules/device/package.json
  modules/event-list/package.json
  modules/fetch/package.json
  modules/filter/filter-popover.js
  modules/filter/package.json
  modules/food-menu/package.json
  modules/html-content/index.js
  modules/html-content/package.json
  modules/icon/package.json
  modules/info-header/package.json
  modules/layout/package.json
  modules/lists/package.json
  modules/listview/package.json
  modules/markdown/package.json
  modules/markdown/selectable.js
  modules/navigation-buttons/package.json
  modules/navigation-tabs/package.json
  modules/notice/package.json
  modules/open-url/package.json
  modules/searchbar/package.json
  modules/separator/package.json
  modules/silly-card/package.json
  modules/storage/package.json
  modules/tableview/package.json
  modules/toolbar/package.json
  modules/touchable/package.json
  modules/viewport/package.json
  package.json
  source/redux/init.js
  source/views/help/wifi-tools.js
  source/views/streaming/radio/player.js
  yarn.lock
Labels: dep/js, dep/native, dependencies

#3989 Fix prettier check to actually fail if needed
  .github/workflows/analyze-and-build.yml
  modules/open-url/package.json
  source/views/streaming/radio/controller.js
Labels: tool/github-actions, tool/prettier

#3990 Upgrade react-theme-provider to v3
  modules/app-theme/index.js
  modules/button/index.js
  modules/button/package.json
  modules/event-list/package.json
  modules/event-list/vertical-bar.js
  modules/filter/active-filter-button.js
  modules/filter/filter-toolbar-button.js
  modules/filter/package.json
  modules/food-menu/package.json
  modules/lists/list-section-header.js
  modules/lists/package.json
  modules/listview/package.json
  modules/markdown/package.json
  modules/tableview/cells/toggle.js
  modules/toolbar/toolbar-button.js
  package.json
  source/app.js
  source/views/sis/components/recents-list.js
  source/views/streaming/radio/buttons.js
  source/views/streaming/radio/controller.js
  yarn.lock
Labels: dep/js

#4014 Change the Directory view endpoint
  source/views/views.js
Labels: view/directory

#4021 Update Wellness Center Hours
  data/building-hours/7-1-wellness-center.yaml
Labels: data/hours

#4028 Fix Detox setup
  package.json
Labels: platform/ios

#4027 Replace ActionSheetIOS usage with cross-platform library
  modules/markdown/link.js
  modules/markdown/package.json
  package.json
  source/app.js
  yarn.lock
Labels: component/markdown, type/bugfix

#4030 Remove 'Hi Mom!' camera
  data/webcams/3-hi-mom.yaml
  images/webcams/himom.jpg
  images/webcams/index.js
Labels: data/general

#4059 🖼 Implement Android's "Adaptive Icons"
  android/app/src/main/res/drawable-anydpi-v26/ic_launcher_background.xml
  android/app/src/main/res/drawable-anydpi-v26/ic_launcher_foreground.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Labels: design, platform/android

#4060 fastlane: Use yarn instead of npx
  fastlane/lib/sourcemaps.rb
Labels: tool/fastlane

#4061 Resign first responder on searchbar blur
  CHANGELOG.md
  modules/searchbar/searchbar-ios.js
Labels: platform/ios, type/bugfix

#4067 fastlane: Add support from beta-ing from GitHub Actions
  fastlane/lib/util.rb
Labels: tool/fastlane

#4069 fastlane: Don't explicitly check for 'CI'
  fastlane/lib/versions.rb
Labels: tool/fastlane
