Repository StoDevX/AAO-React-Native, pull requests merged in 2019-04, with the labels that each got.

#3623 WLC hours update
  data/building-hours/8-wlc.yaml
Labels: data/hours

#3632 Update Rølvaag hours per user suggestion
  data/building-hours/4-3-rølvaag-library.yaml
Labels: data/hours

#3649 Enable Renovate lockfile maintenance
  .circleci/config.yml
  .renovaterc.json
Labels: tool/renovate

#3661 d/h/hh: Fix open time on Sundays
  data/building-hours/8-hh.yaml
Labels: data/hours

#3665 fastlane/README: Remove dangling ref to ios:refresh_dsyms
  fastlane/README.md
Labels: tool/fastlane

#3663 Fastlane: Use Netrc gem
  Gemfile
  Gemfile.lock
  fastlane/lib/commands.rb
Labels: tool/fastlane, type/refactoring

#3669 Downgrade react-redux to ^6.0.1
  package.json
  yarn.lock
Labels: dep/js

#3668 Xcode would like to make some changes
  ios/AllAboutOlaf.xcodeproj/project.pbxproj
Labels: platform/ios

#3648 Remove last references to bugsnag
  CHANGELOG.md
  android/app/src/main/java/com/allaboutolaf/MainActivity.java
  data/privacy.md
Labels: type/documentation

#3644 ASC to CAAS
  CHANGELOG.md
  data/building-hours/5-2-caas.yaml
  data/building-hours/5-3-caas-speaking-space.yaml
  data/building-hours/5-4-asc-writing-desk.yaml
  data/building-hours/5-4-caas-writing-desk.yaml
  data/building-hours/5-5-caas-study-space.yaml
  data/dictionary/asc.yaml
  data/dictionary/caas.yaml
  data/dictionary/dac.yaml
  data/dictionary/sas.yaml
Labels: data/dictionary, data/hours

#3681 Update Bookstore / Convenience Store hours to match posted sign
  data/building-hours/2-1-bookstore.yaml
  data/building-hours/2-2-convenience-store.yaml
Labels: data/hours

#3697 Update Stav Hall hours
  data/building-hours/1-3-stav.yaml
Labels: data/bonapp, data/hours
