Repository StoDevX/AAO-React-Native, pull requests merged in 2019-01, with the labels that each got.

#3383 DictionaryEditorView: Remove getDerivedStateFromProps
  CHANGELOG.md
  source/views/dictionary/report/editor.js
Labels: type/bugfix

#3382 DatePicker: Remove getDerivedStateFromProps definition
  CHANGELOG.md
  modules/datepicker/index.js
Labels: type/bugfix

#3385 hours: Update Stav hours for interim 2019
  data/building-hours/1-3-stav.yaml
Labels: data/hours

#3399 Bundle Update
  .circleci/config.yml
  Gemfile.lock
Labels: dep/rb

#3416 ssb: Add detox to the list of important deps
  scripts/should-skip-build
Labels: tool/build-scripts

#3419 Renovate: Enable experimental bundler support
  .renovaterc.json
Labels: tool/renovate

#3436 apply two small circle config tweaks
  .circleci/config.yml
  CHANGELOG.md
Labels: tool/circle
