Repository StoDevX/AAO-React-Native, pull requests merged in 2019-05, with the labels that each got.

#3717 bump to Xcode 10.2.1
  .circleci/config.yml
Labels: platform/ios

#3719 Update Ruby dependencies
  Gemfile.lock
Labels: dep/rb

#3730 Fix stoprint release
  source/views/stoprint/print-release.js
Labels: type/bugfix, view/stoPrint

#3732 Add loginViaCredentials to Stoprint view
  CHANGELOG.md
  source/views/stoprint/print-jobs.js
Labels: type/bugfix, view/stoPrint

#3738 Turn on Sentry integration
  source/init/sentry.js
  source/views/settings/screens/overview/developer.js
Labels: sentry, view/settings
