Repository StoDevX/AAO-React-Native, pull requests merged in 2019-06, with the labels that each got.

#3772 Update finals notice to be a summer notice
  CHANGELOG.md
  data/building-hours/0-1-finals.yaml
  data/building-hours/0-1-summer.yaml
Labels: data/hours

#3789 (Try to) Fix Sentry sourcemap association
  fastlane/lib/sourcemaps.rb
  fastlane/lib/versions.rb
Labels: sentry, tool/fastlane

#3791 Release v2.8.0, beta 3
  package.json
Labels: type/release

#3792 fastlane: Prepend bundle identifier before version when uploading sourcemaps
  fastlane/lib/sourcemaps.rb
Labels: sentry, tool/fastlane

#3793 Update the Ruby dependencies
  Gemfile.lock
Labels: dep/rb

#3794 Release v2.8.0, beta 4
  package.json
Labels: type/release
