Repository StoDevX/AAO-React-Native, pull requests merged in 2019-03, with the labels that each got.

#3528 Sectionlist tweaks on menu, contacts, and transportation
  CHANGELOG.md
  modules/food-menu/fancy-menu.js
  source/views/contacts/list.js
  source/views/transportation/other-modes/list.js
Labels: status/discussion

#3547 renovate: Raise prConcurrentLimit to 10
  .renovaterc.json
Labels: tool/renovate

#3563 Fix(?) [and clean up] Android CI configuration
  .circleci/config.yml
Labels: platform/android, tool/circle, tool/gradle

#3554 b/express: Update schedule to reflect March 18th changes
  data/bus-times/express.yaml
Labels: data/bus

#3569 Fix signed Gradle builds
  .circleci/config.yml
  CHANGELOG.md
  android/app/build.gradle
  fastlane/platforms/android.rb
Labels: tool/gradle

#3571 Enable Android "app bundles"
  .circleci/config.yml
  android/app/build.gradle
  fastlane/platforms/android.rb
Labels: platform/android

#3575 include credentials for olecard balance fetching
  CHANGELOG.md
  source/lib/financials/balances.js
Labels: type/bugfix

#3574 BugSnag ↦ Sentry
  .circleci/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Gemfile
  Gemfile.lock
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/allaboutolaf/MainActivity.java
  android/app/src/main/java/com/allaboutolaf/MainApplication.java
  android/sentry.properties
  android/settings.gradle
  fastlane/lib/sourcemaps.rb
  fastlane/platforms/android.rb
  fastlane/platforms/ios.rb
  flow-typed/npm/bugsnag-react-native_vx.x.x.js
  flow-typed/npm/bugsnag-sourcemaps_vx.x.x.js
  ios/AllAboutOlaf.xcodeproj/project.pbxproj
  ios/AllAboutOlaf/AppDelegate.m
  ios/AllAboutOlaf/Info.plist
  ios/sentry.properties
  modules/add-to-device-calendar/lib.js
  modules/analytics/bugsnag.js
  modules/analytics/index.js
  modules/analytics/package.json
  modules/analytics/report-network-problem.js
  package.json
  source/app.js
  source/init/analytics.js
  source/init/constants.js
  source/init/sentry.js
  source/navigation/track.js
  source/views/help/wifi.js
  yarn.lock
Labels: sentry

#3588 fastlane: Move a parenthesis in lib/sourcemaps
  fastlane/lib/sourcemaps.rb
Labels: tool/fastlane

#3596 Ice arena hours
  data/building-hours/6-3-ice-arena.yaml
  data/building-hours/6-4-storp.yaml
  data/building-hours/6-5-tom-porter.yaml
  data/building-hours/6-6-tostrud-climbing-wall.yaml
Labels: data/hours

#3603 navigation-buttons: Migrate to platformPrefixIconName
  modules/navigation-buttons/open-settings.js
  modules/navigation-buttons/share.js
Labels: design

#3597 update circle's Xcode to 10.2
  .circleci/config.yml
Labels: platform/ios, tool/circle

#3609 (Maybe) fix sentry sourcemaps
  .circleci/config.yml
Labels: tool/circle
