Repository StoDevX/AAO-React-Native, pull requests merged in 2022-04, with the labels that each got.

#5829 Add link support to the building hours
  data/_schemas/building-hours.yaml
  source/views/building-hours/detail/building.tsx
  source/views/building-hours/detail/link-table.android.tsx
  source/views/building-hours/detail/link-table.ios.tsx
  source/views/building-hours/types.ts
Labels: data/hours, view/hours

#5784 ci: Make `yarn tsc` failures result in build failures
  .github/workflows/analyze-and-build.yml
Labels: area/ci, typescript

#5100 Resolve TS2322 errors
  modules/event-list/event-detail-android.tsx
  modules/event-list/event-row.tsx
Labels: type/refactoring, typescript

#5925 data: Update Express Bus times
  data/bus-times/express.yaml
Labels: data/bus
